<article class="left-article row">
    <div class="left-article__info">
        <h3 class="heading">
            <a href="blog-inner.html">how to make a good design?</a>
        </h3>

        <time class="left-article__date">11 november 2015</time>

        <hr class="line">

        <p class="left-article__text">
            Sed ut perspiciatis, unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et
            quasi architecto beatae vitae dicta sunt, explicabo.
            <br><br>
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>

        <a href="blog-inner.html" class="left-article__btn">learn more</a>
    </div>

    <div class="offset-lg-1 col-sm-6">
        <img class="left-article__img" src="https://via.placeholder.com/560/" alt="">
    </div>
</article>