<article class="left-article">
    <div class="left-article__info">

        <h3 class="article-heading">
            <a href="blog-inner.html">how to make a good design?</a>
        </h3>

        <time class="date">11 november 2015</time>

        <hr class="line--left">
        <div class="spacer--sm"></div>

        <p>
            Sed ut perspiciatis, unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et
            quasi architecto beatae vitae dicta sunt, explicabo.
            <br><br>
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
        <div class="spacer"></div>

        <a href="blog-inner.html" class="btn--white">learn more</a>
    </div>

    <div class="offset-md-1 col-sm-6">
        <img class="img--fluid" src="https://via.placeholder.com/560/" alt="">
    </div>
</article>