<article class="right-article row">
    <div class="col-sm-6">
        <img class="img--fluid" src="https://via.placeholder.com/560" alt="">
    </div>

    <div class="right-article__info offset-sm-1 col-sm-5">
        <h3 class="heading">
            <a href="blog-inner.html">we have created the best event</a>
        </h3>

        <time class="right-article__date">16 november 2015</time>

        <hr class="line">

        <p class="right-article__text">
            Sed ut perspiciatis, unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et
            quasi architecto beatae vitae dicta sunt, explicabo.
        </p>

        <a href="blog-inner.html" class="btn--white">learn more</a>
    </div>
</article>