<article class="right-article row">
    <div class="col-sm-6">
        <img class="img--fluid" src="https://via.placeholder.com/560" alt="">
    </div>

    <div class="right-article__info offset-sm-1 col-sm-5">
        <h3 class="heading--sm">
            <a href="service.html" class="link">creative <br>
                <span class="heading">kitchen</span>
            </a>
        </h3>

        <hr class="occupations__line">

        <p class="occupations__text">
            Sed ut perspiciatis, unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et
            quasi architecto beatae vitae dicta sunt, explicabo.
            <br><br>
            Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.
        </p>

        <a href="service.html" class="btn--white">learn more</a>
    </div>
</article>

<article class="left-article row">
    <div class="left-article__info col-sm-5">
        <h3 class="heading--sm">
            <a href="service.html" class="link">art<br>
                <span class="heading">installation</span>
            </a>
        </h3>

        <hr class="occupations__line">

        <p class="occupations__text">
            Sed ut perspiciatis, unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et
            quasi architecto beatae vitae dicta sunt, explicabo.
            <br><br>
            Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.
        </p>

        <a href="blog-inner.html" class="left-article__btn">learn more</a>
    </div>

    <div class="offset-lg-1 col-sm-6">
        <img class="left-article__img" src="https://via.placeholder.com/560/" alt="">
    </div>
</article>


<article class="right-article row">
    <div class="col-sm-6">
        <img class="img--fluid" src="https://via.placeholder.com/560" alt="">
    </div>

    <div class="right-article__info offset-sm-1 col-sm-5">
        <h3 class="heading--sm">
            <a href="service.html" class="link">print <br>
                <span class="heading">design</span>
            </a>
        </h3>

        <hr class="occupations__line">

        <p class="occupations__text">
            Sed ut perspiciatis, unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et
            quasi architecto beatae vitae dicta sunt, explicabo.
            <br><br>
            Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.
        </p>

        <a href="service.html" class="btn--white">learn more</a>
    </div>
</article>