<article class="right-article">
    <div class="col-sm-6">
        <img class="img--fluid" src="https://via.placeholder.com/560" alt="">
    </div>

    <div class="right-article__info">
        <h3 class="heading--sm">
            <a href="service.html" class="link">creative <br>
                <span class="heading--bold">kitchen</span>
            </a>
        </h3>

        <hr class="line--left">
        <br>

        <p>
            Sed ut perspiciatis, unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et
            quasi architecto beatae vitae dicta sunt, explicabo.
            <br><br>
            Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.
            <br><br>
        </p>

        <a href="service.html" class="btn--white">learn more</a>
    </div>
</article>

<article class="left-article">
    <div class="left-article__info">
        <h3 class="heading--sm">
            <a href="service.html" class="link">art<br>
                <span class="heading--bold">installation</span>
            </a>
        </h3>

        <hr class="line--left">

        <p>
            <br>
            Sed ut perspiciatis, unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et
            quasi architecto beatae vitae dicta sunt, explicabo.
            <br><br>
            Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.
            <br><br>
        </p>

        <a href="blog-inner.html" class="btn--white">learn more</a>
    </div>

    <div class="offset-lg-1 col-sm-6">
        <img class="img--fluid" src="https://via.placeholder.com/560/" alt="">
    </div>
</article>


<article class="right-article">
    <div class="col-sm-6">
        <img class="img--fluid" src="https://via.placeholder.com/560" alt="">
    </div>

    <div class="right-article__info">
        <h3 class="heading--sm">
            <a href="service.html" class="link">print <br>
                <span class="heading--bold">design</span>
            </a>
        </h3>

        <hr class="line--left">

        <p>
            <br>
            Sed ut perspiciatis, unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et
            quasi architecto beatae vitae dicta sunt, explicabo.
            <br><br>
            Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.
            <br><br>
        </p>

        <a href="service.html" class="btn--white">learn more</a>
    </div>
</article>