.blog__nav {
    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }
    margin-top: 7.5rem;
    margin-bottom: 9rem;
    text-align: center;

    & a {
        color: $base-text-color;
    }

    .blog__link {
        margin-right: $spacing-xs;
        &:hover {
            color: black;
        }
    }

    .blog__link--active {
        @extend .blog__link;
        color: black;
    }
}