.logo {
    margin-left: -1.5rem;
    font-size: 3.0rem;
    font-weight: 800;
    color: black;
}

.nav-link {
    margin-left: 2.8rem;
    padding-top: 2rem;
    padding-bottom: 4.3rem;
    &:hover {
        @extend %half-border-bottom;
    }
}

.navbar-nav {
    margin-right: -1rem;
    a {
        @extend .nav-link;
        color: $base-text-color;
    }
}

%half-border-bottom {
    color: black !important;
    padding-bottom: 4.3rem;
    background: linear-gradient(black, black) left no-repeat;
    background-size: 55% 0.2rem;
}

.works-page .works-page-link,
.about-page .about-page-link,
.services-page .services-page-link,
.blog-page .blog-page-link,
.contact-us-page .contact-page-link {
    @extend %half-border-bottom;
}

@media #{$breakpoint-md-down} {
    .nav-link, %half-border-bottom {
        padding-bottom: 4.3rem;
    }
    %half-border-bottom {
        background-size: 8% 0.3rem;
    }
}
