.section {
    &__header {
        @extend .heading;
        margin-top: 11rem;
    }

    &__images {
        margin-top: $spacing-lg;
        margin-bottom: 1.8rem;
    }

    &__menu {
        text-align: center;
        margin-top: 7.5rem;
        margin-bottom: 9rem;
    }

    &__btn-wrapper {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: $spacing-xs;
    }

    .menu-item {
        font-size: $base-font-size;
        margin-right: 1.5rem;
        color: $base-text-color;
        &:hover {
            color: black;
        }
    }

    .menu-item--active {
        @extend .menu-item;
        color: black;
    }
}




