.article {
    margin-top: 3.6rem;

    &__text {
        margin-top: 14rem;
    }

    &__header {
        @extend .heading;
        margin-top: 6.6rem;
        line-height: 7rem;
    }

    &__social {
        margin-top: -1rem;
        .fa {
            margin-top: 8.8rem;
            margin-right: 1rem;
        }
    }

}

.article--shifted > * {
    margin-left: -3rem;
}

@media #{$breakpoint-md-up} {
    .article__header {
        text-align: center;
    }

    .article--shifted > * {
        margin-left: 1.5rem;
    }
}

