.entry {
    @include media-breakpoint-up(sm) {
        @include make-col(8);
    }

    &__date {
        display: block;
        color: black;
        margin-top: 7rem;
        text-align: center;
        margin-bottom: $spacing-xs;
    }

    &__img {
        @extend .img--fluid;
        margin-top: 7.3rem;
    }

    &__line {
        @extend .line--left;
        margin-top: 5.2rem;
    }

    &__text {
        margin-top: 9.5rem;
    }
}

.content {
    @include media-breakpoint-up(sm) {
        @include make-col(8);
    }

    &__header {
        @extend .heading;
        font-size: 4.7rem;
        margin-top: 6.5rem;
    }

    &__text {
        margin-top: 2.8rem;
    }

    &__line {
        @extend .line--left;
        margin: 2.5rem 1rem 0 -3.2rem;
    }
}

.remark {
    @include media-breakpoint-up(sm) {
        @include make-col(7);
    }

    margin: 7rem 0 -1rem 3.5rem;

    &__text {
        letter-spacing: -0.1rem;
        word-spacing: -0.1rem;
        line-height: 5.4rem;
        margin-top: 4.4rem;
        color: black;
        font-size: 3.9rem;
        font-weight: 800;
    }
}

@media #{$breakpoint-sm-down} {
    .content__header {
        font-size: 3.5rem;
    }

    .content__line {
        margin-left: 0.7rem;
        float: none;
    }

    .blog-header {
        margin-top: $spacing-xs;
    }
}