.slider, .controls {
    text-align: center;
}

.controls {
    margin-top: 7rem;
    .prev {
        margin-right: $spacing-xs;
    }
    *:hover {
        cursor: pointer;
    }
}

.slider-counter {
    @include media-breakpoint-up(xs) {
        @include make-col(3);
    }

    @include media-breakpoint-up(sm) {
        @include make-col(2);
    }

    margin-left: $spacing-sm;
}

.product {
    font-size: $base-font-size;
    margin-top: 7rem;
    margin-bottom: -1rem;

    .slider-nav {
        @include media-breakpoint-up(xs) {
            @include make-col(7);
        }

        @include media-breakpoint-up(sm) {
            @include make-col(4);
        }

        .tns-nav-active {
            background-color: black;
        }
    }

    .slider-image {
        @extend .img--fluid;
        margin-top: $spacing-lg;
        margin-bottom: 4.5rem;
    }
}
