.left-article {
    @include make-row();

    &__info {
        @include make-col-ready();
        @include media-breakpoint-up(sm) {
            @include make-col(5);
        }
    }
}

@media #{$breakpoint-sm-down} {
    .left-article {
        margin-top: 6rem;

        &__info {
            margin-bottom: $spacing-xs;
        }

        .line--left {
            margin-top: $spacing-xs;
            float: none;
        }
    }
}
