
@media #{$breakpoint-sm-down} {
    .left-article {
        margin-top: 6rem;
        text-align: center;

        &__info {
            margin-bottom: $spacing-xs;
        }

        .line--left {
            margin-top: $spacing-xs;
            float: none;
        }
    }
}
