.overview {
    &__header {
        @extend .heading;
        margin-top: 6.5rem;
        margin-bottom: 7.5rem;
    }

    &__text {
        @include media-breakpoint-up(sm) {
            @include make-col(5);
        }

        margin-left: 6%;
        margin-top: -1rem;
    }

    &__info {
        color: black;
        margin-top: $spacing-md;
        margin-bottom: $spacing-md;
    }

    &__line {
        @extend .line--left, .line--shifted;
    }
}

.caption {
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }

    &__img {
        @extend .img--fluid;
        margin-top: 1rem;
    }

    &__line {
        @extend .line--left;
        margin-top: 5rem;
        margin-left: 12%;
    }

    &__text {
        line-height: 5.5rem;
        margin-top: $spacing-lg;
        margin-left: 12%;
        color: black;
        font-size: 4rem;
        font-weight: 700;
    }
}

.caption--shifted {
    margin-top: 5rem;
}

.service {
    margin-top: 7rem;
    &__header {
        @extend .heading;
        margin-bottom: 7.8rem;
    }
}

@media (max-width: $breakpoint-lg) {
    .caption__text {
        line-height: 4.5rem;
        font-size: 3rem;
    }
}

@media (max-width: $breakpoint-sm - 1px) {
    .overview {
        &__text {
            margin-top: 0;
        }
    }
}