.caption {

    &__line {
        @extend .line--left;
        margin-top: 5rem;
        margin-left: 12%;
    }

    &__text {
        line-height: 5.5rem;
        margin-top: $spacing-lg;
        margin-left: 12%;
        color: black;
        font-size: 4rem;
        font-weight: 700;
    }
}

@media #{$breakpoint-lg-down} {
    .caption__text {
        line-height: 4.5rem;
        font-size: 3rem;
    }
}
