.column {
   /* @include make-col-ready();*/
    @include media-breakpoint-up(sm) {
        @include make-col(4);
    }
}

.overlay {
    margin-right: 1.5rem;
    position: relative;
    display: inline-block;

    &__topic {
        font-size: 1.8rem;
    }

    .panel {
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 83%;
        height: 83%;
        background: $beige;
        opacity: 0;
        transition: opacity 500ms ease-in-out;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    .panel--half {
        @extend .panel;
        top: 45%;
        height: 45%;
    }

    .panel--center {
        @extend .panel--half;
        top: 45%;
    }

    &__header {
        font-size: 4rem;
        font-weight: 700;
        line-height: 4rem;
    }

    &--shifted {
        @extend .overlay;
    }
}

@media #{$breakpoint-sm-up} {
    .overlay--shifted {
        margin-top: 2.5rem;
    }
}

@media #{$breakpoint-xl-up} {
    .overlay {
        margin-top: 1.5rem;
    }
}

@media #{$breakpoint-sm-up} and #{$breakpoint-lg-down} {
    .overlay {
        .panel {
            top: 31%;
        }

        &__header {
            font-size: 2rem;
            margin-bottom: -0.5rem;
            line-height: 3rem;
        }

        &__topic {
            font-size: 1.5rem;
        }

        .panel--half {
            top: 46%;
        }
    }
}

@media #{$breakpoint-sm-down} {
    .column {
        padding-left: 1.5rem;
    }
}