.overlay {
    margin-top: 0.5rem;
    position: relative;
    display: inline-block;

    &__topic {
        font-size: 1.8rem;
    }

    &__details {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 83%;
        height: 83%;
        background: $beige;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }

    &__details--half {
        @extend .overlay__details;
        top: 45%;
        height: 45%;
    }

    &__details--center {
        @extend .overlay__details--half;
        top: 45%;
    }

    &__details {
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    &__header {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: -0.1rem;
        line-height: 4rem;
    }

    &--shifted {
        @extend .overlay;
    }
}

@media (min-width: $breakpoint-sm) {
    .overlay--shifted {
        margin-top: 2.5rem;
    }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-lg) {
    .overlay {
        &__details--half {
            top: 31%;
        }

        &__header {
            font-size: 2rem;
            margin-bottom: -0.5rem;
            line-height: 3rem;
        }

        &__topic {
            font-size: 1.5rem;
        }

        &__details--half {
            top: 46%;
        }
    }
}

@media (max-width: $breakpoint-sm - 1) {
    .img-grid {
        text-align: center;
        padding-bottom: 1.5rem;
    }
}