html {
    font-size: $root-font-size;
}

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: 300;
    color: $base-text-color;
}

a {
    color: black;
    &:hover {
        color: black;
        text-decoration: none;
    }
}

@media (min-width: 1250px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: $breakpoint-md - 1px) {
    html {
        font-size: 60%;
    }
}