.spacer {
    margin-top: 7rem;
}

.spacer--sm {
    @extend .spacer;
    @media #{$breakpoint-sm-down} {
        display: none;
    }
}

.hidden {
    display: none;
}

.inline-centered {
    text-align: center;
    margin-top: 5rem;
}

.row--centered {
    @include make-row();
    justify-content: center;
}

.align-right {
    justify-content: flex-end;
}