$root-font-size: 10px;
$base-font-family: Montserrat, sans-serif;
$base-text-color: #656565;
$base-font-size: 1.8rem;

$beige: #FFE1BD;
$orange: #FFCC8D;
$light-grey: #D8D8D8;
$grey: #989898;

$btn-hover-color: $beige;
$link-hover-color: #FFC898;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;

$breakpoint-md-up: 'screen and (min-width: 768px)';
$breakpoint-sm-down: '(max-width: 576px)';
$breakpoint-lg-down: '(max-width: 991px)';
$breakpoint-sm-up: 'screen and (min-width: 576)';

$heading-font-size: 6rem;
$heading-font-weight: 100;
$article-header-font-weight: 800;

$btn-border-radius: 3rem;
$btn-padding: 1.3rem 3rem;

$spacing-xs: 2rem;
$spacing-sm: 4rem;
$spacing-md: 6rem;
$spacing-lg: 8rem;
$spacing-xl: 10rem;

