<div class="container">
    <div class="row--centered">
        <header class="header col-sm-12">
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="index.html" class="logo">clemo.</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse align-center" id="header-navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="about-page-link" href="about-us.html">about us</a>
                        </li>
                        <li class="nav-item">
                            <a class="services-page-link" href="services.html">services</a>
                        </li>
                        <li class="nav-item">
                            <a class="works-page-link" href="works.html">works</a>
                        </li>
                        <li class="nav-item">
                            <a class="blog-page-link" href="blog.html">blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="contact-page-link" href="contact.html">contact</a>
                        </li>
                    </ul>
                </div>
            </nav><!-- /.navbar -->
        </header><!-- /.header -->
    </div><!-- /.row -->
</div><!-- /.container -->