<div class="col-sm-4">
    <figure class="overlay">
        <img class="img--fluid" src="https://via.placeholder.com/364" alt="">

        <figcaption class="card">
            <h5 class="heading">golfino awards</h5>
            <hr class="line">
            <h6 class="card__topic">print design</h6>
        </figcaption>
    </figure>

    <figure class="overlay--shifted">
        <img class="img--fluid" src="https://via.placeholder.com/364x590" alt="">

        <figcaption class="card--half">
            <h5 class="heading">golfino awards</h5>
            <hr class="line">
            <h6 class="card__topic">print design</h6>
        </figcaption>
    </figure>
</div>


<div class="col-sm-4">
    <figure class="overlay">
        <img class="img--fluid" src="https://via.placeholder.com/364x590" alt="">

        <figcaption class="card--center">
            <h5 class="heading">golfino awards</h5>
            <hr class="line">
            <h6 class="card__topic">print design</h6>
        </figcaption>
    </figure>

    <figure class="overlay--shifted">
        <img class="img--fluid" src="https://via.placeholder.com/364" alt="">

        <figcaption class="card">
            <h5 class="heading">golfino awards</h5>
            <hr class="line">
            <h6 class="card__topic">print design</h6>
        </figcaption>
    </figure>
</div>


<div class="col-sm-4">
    <figure class="overlay">
        <img class="img--fluid" src="https://via.placeholder.com/364" alt="">

        <figcaption class="card">
            <h5 class="heading">golfino awards</h5>
            <hr class="line">
            <h6 class="card__topic">print design</h6>
        </figcaption>
    </figure>

    <figure class="overlay--shifted">
        <img class="img--fluid" src="https://via.placeholder.com/364x590" alt="">

        <figcaption class="card--half">
            <h5 class="heading">golfino awards</h5>
            <hr class="line">
            <h6 class="card__topic">print design</h6>
        </figcaption>
    </figure>
</div>