<section class="col-sm-4">
    <figure class="overlay">
        <img class="img--fluid" src="https://via.placeholder.com/364" alt="">

        <div class="overlay__details">
            <h5 class="overlay__header">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </div>
    </figure>

    <figure class="overlay--shifted">
        <img class="img--fluid" src="https://via.placeholder.com/364x590" alt="">

        <div class="overlay__details--half">
            <h5 class="overlay__header">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </div>
    </figure>
</section>


<section class="col-sm-4">
    <figure class="overlay">
        <img class="img--fluid" src="https://via.placeholder.com/364x590" alt="">

        <div class="overlay__details--center">
            <h5 class="overlay__header">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </div>
    </figure>

    <figure class="overlay--shifted">
        <img class="img--fluid" src="https://via.placeholder.com/364" alt="">

        <div class="overlay__details">
            <h5 class="overlay__header">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </div>
    </figure>
</section>


<section class="col-sm-4">
    <figure class="overlay">
        <img class="img--fluid" src="https://via.placeholder.com/364" alt="">

        <div class="overlay__details">
            <h5 class="overlay__header">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </div>
    </figure>

    <figure class="overlay--shifted">
        <img class="img--fluid" src="https://via.placeholder.com/364x590" alt="">

        <div class="overlay__details--half">
            <h5 class="overlay__header">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </div>
    </figure>
</section>