<div class="column">
    <figure class="overlay">
        <img class="img--fluid" src="https://via.placeholder.com/364" alt="">

        <figcaption class="panel">
            <h5 class="overlay__heading">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </figcaption>
    </figure>

    <figure class="overlay--shifted">
        <img class="img--fluid" src="https://via.placeholder.com/364x590" alt="">

        <figcaption class="panel--half">
            <h5 class="overlay__heading">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </figcaption>
    </figure>
</div>


<div class="column">
    <figure class="overlay">
        <img class="img--fluid" src="https://via.placeholder.com/364x590" alt="">

        <figcaption class="panel--center">
            <h5 class="overlay__heading">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </figcaption>
    </figure>

    <figure class="overlay--shifted" >
        <img class="img--fluid" src="https://via.placeholder.com/364" alt="">

        <figcaption class="panel">
            <h5 class="overlay__heading">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </figcaption>
    </figure>
</div>


<div class="column">
    <figure class="overlay">
        <img class="img--fluid" src="https://via.placeholder.com/364" alt="">

        <figcaption class="panel">
            <h5 class="overlay__heading">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </figcaption>
    </figure>

    <figure class="overlay--shifted">
        <img class="img--fluid" src="https://via.placeholder.com/364x590" alt="">

        <figcaption class="panel--half">
            <h5 class="overlay__heading">golfino awards</h5>
            <hr class="line">
            <h6 class="overlay__topic">print design</h6>
        </figcaption>
    </figure>
</div>