<div class="container">
    <section class="section">
        <h3 class="heading">clients say&#146;s</h3>

        <div id="reviews-carousel" class="testimonial carousel slide">
            <div class="carousel-inner testimonial__slider row">
                //= carousel/review.html
                //= carousel/review.html
                //= carousel/review.html
            </div>

            <div class="testimonial__images">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <img class="testimonial__img" src="https://via.placeholder.com/266x140" alt="review">
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <img class="testimonial__img" src="https://via.placeholder.com/266x140" alt="review">
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <img class="testimonial__img" src="https://via.placeholder.com/266x140" alt="review">
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <img class="testimonial__img" src="https://via.placeholder.com/266x140" alt="review">
                    </div>
                </div>
            </div>

            <div class="reviews__dots carousel-indicators">
                <span class="dot active" data-target="#reviews-carousel" data-slide-to="0"></span>
                <span class="dot"        data-target="#reviews-carousel" data-slide-to="1"></span>
                <span class="dot"        data-target="#reviews-carousel" data-slide-to="2"></span>
            </div>
        </div><!-- /.carousel -->

    </section><!-- /.reviews -->
</div>