<section class="section">
    <div class="container">
        <div class="row">
            <h3 class="heading">best team</h3>

            <div id="team-carousel" class="team__slider-container">
                <ul class="team__controls">
                    <li data-controls="prev">
                        <img class="team__arrow--left" src="img/arrow-left.png" alt="left carousel control">
                    </li>
                    <li data-controls="next">
                        <img class="team__arrow--right" src="img/arrow-right.png" alt="right carousel control">
                    </li>
                </ul>

                <div class="team__slider">
                    //= carousel/team.html
                    //= carousel/team.html
                    //= carousel/team.html
                </div>

                //= carousel/controls.html
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.team -->