<section class="section--dark">
    <div class="container">
        <div class="row">
            <h1 class="heading--black">best team</h1>

            <div id="team-carousel" class="col-lg-12">
                <ul id="controls" class="list-unstyled">
                    <li data-controls="prev">
                        <img class="arrow--left" src="img/arrow-left.png" alt="left carousel control">
                    </li>
                    <li data-controls="next">
                        <img class="arrow--right" src="img/arrow-right.png" alt="right carousel control">
                    </li>
                </ul>

                <div class="spacer"></div>

                <div id="team-slider">
                    //= carousel/team.html
                    //= carousel/team.html
                    //= carousel/team.html
                </div>

                //= carousel/controls.html
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.section--dark -->