.heading {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }

    text-align: center;
    font-size: $heading-font-size;
    font-weight: $heading-font-weight;
}

.heading--black {
    @extend .heading;
    color: black;
}

.heading--md {
    @extend .heading;
    font-size: 5rem;
}

.heading--sm {
    line-height: 4.1rem;
    font-size: 3rem;
    color: black;
}

.heading--shifted {
    @extend .heading--black;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.heading--bold {
    font-size: 4.6rem;
    font-weight: $article-header-font-weight;
    margin-bottom: 0.1rem;
}

@media #{$breakpoint-lg-down} {
    .heading--bold {
        font-size: 3.5rem;
    }
}

