<!-- display: none must be inline, carousel plugin won't work otherwise -->
<div id="slider-controls" class="carousel__dots col-sm-12">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot" style="display: none"></span>
    <span class="dot" style="display: none"></span>
    <span class="dot" style="display: none"></span>
    <span class="dot" style="display: none"></span>
    <span class="dot" style="display: none"></span>
    <span class="dot" style="display: none"></span>
</div>