<div class="slider-item">
    <div class="row">
        <div class="item">
            <h4 class="heading">
                <a href="blog-inner.html">we have created <br /> the best event</a>
            </h4>
            <hr class="line">
            <time class="item__footer">16 november 2015</time>
        </div>
    </div>
</div>

<div class="slider-item">
    <div class="row">
        <div class="item">
            <h4 class="heading">
                <a href="blog-inner.html">how to make <br /> a good design?</a>
            </h4>
            <hr class="line">
            <time class="item__footer">11 november 2015</time>
        </div>
    </div>
</div>

<div class="slider-item">
    <div class="row">
        <div class="item">
            <h4 class="heading">
                <a href="blog-inner.html">the foodee</a>
            </h4>
            <hr class="line">
            <time class="item__footer">2 november 2015</time>
        </div>
    </div>
</div>