<div class="carousel-item">
    <div class="row">
        <div class="card col-md-3">
            <h4 class="card__name">frank sims</h4>
            <hr class="card__line">
            <p class="card__position">photographer</p>
        </div>

        <blockquote class="testimonial__comment col-md-6">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
            vitae dicta sunt explicabo.
        </blockquote>
    </div>
</div>