<div class="slider-item">
    <div class="row">
        <figure class="bio offset-lg-4 col-lg-8">
            <img class="img--fluid img--round" src="https://via.placeholder.com/168" alt="bio">
            <p class="bio__name">paul hall</p>
            <hr class="line">
            <p class="bio__position">art director</p>
        </figure>
    </div>
</div>

<div class="slider-item">
    <div class="row">
        <figure class="bio col-lg-12">
            <img class="img--fluid img--round" src="https://via.placeholder.com/168" alt="bio">
            <p class="bio__name">joshua <br> spencer</p>
            <hr class="line">
            <p class="bio__position">founder</p>
        </figure>
    </div>
</div>

<div class="slider-item">
    <div class="row">
        <figure class="bio col-lg-8">
            <img class="img--fluid img--round" src="https://via.placeholder.com/168" alt="bio">
            <p class="bio__name">diane lewis</p>
            <hr class="line">
            <p class="bio__position">artist. designer</p>
        </figure>
    </div>
</div>