<div class="slider-item">
    <div class="row">
        <figure class="person offset-lg-4 col-lg-8">
            <img class="person__img" src="https://via.placeholder.com/168" alt="person">
            <p class="person__name">paul hall</p>
            <hr class="person__line">
            <p class="person__position">art director</p>
        </figure>
    </div>
</div>

<div class="slider-item">
    <div class="row">
        <figure class="person col-lg-12">
            <img class="person__img" src="https://via.placeholder.com/168" alt="person">
            <p class="person__name">joshua <br> spencer</p>
            <hr class="person__line">
            <p class="person__position">founder</p>
        </figure>
    </div>
</div>

<div class="slider-item">
    <div class="row">
        <figure class="person col-lg-8">
            <img class="person__img" src="https://via.placeholder.com/168" alt="person">
            <p class="person__name">diane lewis</p>
            <hr class="person__line">
            <p class="person__position">artist. designer</p>
        </figure>
    </div>
</div>