<div class="slider-item">
    <div class="row">
        <div class="item">
            <h4 class="heading">
                <a href="blog-inner.html">letters art <br /> project</a>
            </h4>
            <hr class="item__line">
            <span class="item__footer">print design</span>
        </div>
    </div>
</div>

<div class="slider-item">
    <div class="row">
        <div class="item">
            <h4 class="heading">
                <a href="blog-inner.html">golfino awards <br /> 2015</a>
            </h4>
            <hr class="item__line">
            <span class="item__footer">print design</span>
        </div>
    </div>
</div>

<div class="slider-item">
    <div class="row">
        <div class="item">
            <h4 class="heading">
                <a href="blog-inner.html">the foodee</a>
            </h4>
            <hr class="item__line">
            <span class="item__footer">creative kitchen</span>
        </div>
    </div>
</div>