%form-control {
    display: inline-block;
    width: 100%;
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
    background-color: transparent;
    cursor: pointer;
    overflow: auto;
    resize: none;
    box-shadow: none;
}

