.event {
    background-color: black;
    color: white;
    font-size: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-bottom: -0.5rem;
    text-align: center;

    &__info {
        @include media-breakpoint-up(sm) {
            @include make-col(7);
        }
    }

    &__wrapper {
        @include media-breakpoint-up(lg) {
            @include make-col(3);
        }
        @include media-breakpoint-up(sm) {
            @include make-col(5);
        }
    }

    &__name {
        color: #8E8E8E;
    }

    &__price {
        font-size: 4rem;
        font-weight: 700;
    }

    &__line {
        margin-right: $spacing-sm;
        margin-left: $spacing-sm;
    }

    &__btn {
        @extend .btn--white;
        background-color: white;
    }
}

@media #{$breakpoint-sm-down} {
    .event {
        &__info {
            margin-bottom: $spacing-sm;
        }
    }
}
