.item {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }

    margin-top: 1rem;
    margin-bottom: $spacing-sm;
    margin-left: 0.1rem;

    &__header {
        line-height: 3.7rem;
        margin-top: 4.2rem;
        font-size: 3.6rem;
        font-weight: $article-header-font-weight;
    }

    &__footer {
        color: black;
        float: left;
        margin-top: $spacing-xs;
        margin-left: -5.5rem;
    }
}

