.results {
    margin-top: 9.5rem;
    margin-bottom: 7rem;

    .result {
        text-align: center;

        &__line {
            @extend .line;
            margin-top: -0.5rem;
        }

        &__count {
            font-size: 4rem;
            font-weight: 700;
            color: black;
        }

        &__subject {
            margin-top: 0;
        }
    }
}




