.testimonial {
    color: black;
    padding-top: 7rem;

    &__slider {
        margin-top: 6.5rem;
    }

    &__images {
        margin-top: 6.4rem;
        margin-bottom: 8.5rem;
    }

    &__comment {
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
        text-align: left;
        margin-top: 1rem;
        padding-left: 6.5%;
    }

    &__img {
        @extend .img--fluid;
        margin-right: $spacing-xs;
    }
}

.cite {
    @include media-breakpoint-up(md) {
        @include make-col(3);
    }
    margin-left: 20.5%;

    * {
        text-align: right;
        float: right;
    }

    &__name {
        width: 100%;
        text-align: right;
        font-size: 4rem;
        font-weight: 700;
    }

    &__position {
        width: 100%;
    }
}

@media #{$breakpoint-sm-down} {
    .reviews__dots {
        position: relative;
        bottom: 73rem;
    }

    .testimonial__images {
        margin-bottom: 0;
    }
}

@media #{$breakpoint-md-down} {
    .testimonial__img {
        margin-bottom: 2.5rem;
    }
}

@media #{$breakpoint-sm-down} {
    .cite * {
        float: left;
        text-align: left;
    }
}

@media #{$breakpoint-lg-down} {
    .testimonial {
        &__comment {
            margin-top: $spacing-sm;
            margin-left: 2.6rem;
        }

        &__img {
            margin-right: 0;
        }

        &__images {
            text-align: center;
        }
    }

    .cite {
        &__line, &__position {
            float: left;
        }
    }
}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
    .cite__name {
        margin-top: 0.5rem;
        font-size: 3.5rem;
    }
}

@media (min-width: $breakpoint-md) and #{$breakpoint-lg-down} {
    .cite__name {
        margin-top: 3.5rem;
    }
}
