.section {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }

    text-align: center;
}

.section--centered {
    @include make-row();
    justify-content: center;
}

.section--right {
    justify-content: flex-end;
}

.section--left {
    @extend .section;
    text-align: left;
}

.section--dark {
    margin-top: 7rem;
    background-color: $beige;
    padding-top: 5rem;
    padding-bottom: 9rem;
}