.bio {
    text-align: center;
    color: #000;
    margin-bottom: 2.3rem;

    &__name {
        margin-top: 1.5rem;
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 4.5rem;
    }
}

@media (max-width: 1281px) {
    .bio__name {
        font-size: 3.3rem;
    }
}
